beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
greenlet==1.0.0
idna==2.10
lxml==4.6.2
numpy==1.20.1
pandas==1.2.2
playwright==1.9.1
progress==1.5
pyee==8.1.0
PySide2==5.15.2
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2021.1
qt5-applications==5.15.2.2.1
qt5-tools==5.15.2.1.0.1
requests==2.25.1
shiboken2==5.15.2
six==1.15.0
soupsieve==2.2
typing-extensions==3.7.4.3
urllib3==1.26.3
